<!DOCTYPE html>
<html lang="en">

<style>
.jumbotron.text-center {
    background-color: #C11B1B;
    color: #ffffff;
}
</style>

<body>

<div class="jumbotron text-center">
  <h1>Codaisseurup</h1>
  <p>We are specialize in blablabla</p>
  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
</div>

<div class="container-fluid">
  <div class="text-center">
    <h2>Upcoming events</h2>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Event name</h3>
        </div>
        <div class="panel-body">
          <p><strong>location</strong>name</p>
          <p><strong>starts_at</strong>time</p>
          <p><strong>end</strong>time</p>
          <p>category</p>
        </div>
        <div class="panel-footer">
          <h3>price</h3>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Event name</h3>
        </div>
        <div class="panel-body">
          <p><strong>Location</strong>name</p>
          <p><strong>starts_at</strong>time</p>
          <p><strong>end</strong>time</p>
          <p>category</p>
        </div>
        <div class="panel-footer">
          <h3>price</h3>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
   <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>Event name</h3>
        </div>
        <div class="panel-body">
          <p><strong>Location</strong>name</p>
          <p><strong>starts_at</strong>time</p>
          <p><strong>end</strong>time</p>
          <p>category</p>
        </div>
        <div class="panel-footer">
          <h3>price</h3>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
